img {
  display: flex;
  width: 800px;
  height: auto;
  justify-content: center;
}
:root {
  background-image: url("../image/bg.jpg"); /* Specify the path to your image */
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Do not repeat the background image */
}

button {
  background: linear-gradient(
    100deg,
    #ffc400 0,
    hsl(59, 94%, 57%) 75%,
    #feffb1 100%
  );
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  border: black solid 1px;
}

input {
  width: 200px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  resize: none;
  border: black solid 1px;
}
h3 {
  font-family: "algerian", Times, serif;
  font-weight: bold; /* Specify font weight */
  font-size: 50px; /* Specify font size */
  color: rgb(255, 136, 0);
  font-style: italic;
  text-shadow: -2px -2px 0 BLACK, -2px -1px 0 BLACK, -2px 0px 0 BLACK,
    -2px 1px 0 BLACK, -2px 2px 0 BLACK, -1px -2px 0 BLACK, -1px -1px 0 BLACK,
    -1px 0px 0 BLACK, -1px 1px 0 BLACK, -1px 2px 0 BLACK, 0px -2px 0 BLACK,
    0px -1px 0 BLACK, 0px 0px 0 BLACK, 0px 1px 0 BLACK, 0px 2px 0 BLACK,
    1px -2px 0 BLACK, 1px -1px 0 BLACK, 1px 0px 0 BLACK, 1px 1px 0 BLACK,
    1px 2px 0 BLACK, 2px -2px 0 BLACK, 2px -1px 0 BLACK, 2px 0px 0 BLACK,
    2px 1px 0 BLACK, 2px 2px 0 BLACK;
}

/* Yadhukrishna  */
.searching_div {
  position: absolute;
  width: 63%;
  background-color: coral;
  height: 38%;
  top: 37%;
  left: 22%;
}
