@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

/* .button_value {
  width: 50px;
  border-radius: 50%;
} */

p {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

h4 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

#players {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;

  width: 225px;
}

#roomcode_div {
  display: flex;
  align-items: center;
}
#roomcode_div p {
  margin-bottom: 0px;
  width: 100px;
  border: 1px solid black;
}

#roomcode_div #roomcode_btn {
  margin-top: 16px;
  margin-left: 2px;
}

#top_section {
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#audio_div {
  display: flex;
  width: 100px;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-left-width: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

#audio_control {
  width: 166px;
}

/* button background */

.button_value {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

/* alngning main parts */
#second_nd_part {
  display: flex;
}

#left_section {
  /* width: 150px;
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 50px; */
  border: 2px solid;
  border-left-width: 1px;
  border-right-width: 1px;
  padding-left: 50px;
  padding-right: 50px;
  height: 300px;
}

#timer {
  margin-top: 20px;
  border: 2px solid;
  display: flex;
  justify-content: center;
}

#choose_value2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1em;
  width: 150px;
  height: 200px;
  margin-top: 25px;
}

#right_top {
  display: flex;
  flex-direction: column;
  width: 700px;
  border: 2px solid;
}

#heads_or_tails {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#heads {
  margin-right: 25px;
}

#Game_Area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bat {
  margin-right: 25px;
  width: 45px;
  height: 20px;
}

#bowl {
  width: 50px;
  height: 20px;
}

#button_value_of_users2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 5em;
  border: 2px solid;
}

#choice {
  padding-left: 50px;
  padding-right: 50px;
}

#score_are {
  padding-left: 20px;
}

/* #final_result {
  display: flex;
  top: 32%;
  right: 20%;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  border: 2px solid;
  width: 700px;
  flex-direction: column;
} */
