body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

#bg_image {
  background-image: url("../image/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Ensure it stays behind other content */
}

#main_part {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: center;
  align-content: center;
  flex-direction: column;

  /* to enusre main part is above background image. solution to the button-56 class properties not working */
  /* position: relative;
  z-index: 1; */
}

#handy-cricket_img {
  display: block;
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

form {
  display: inline-block; /* Auto-sizes to content */
  margin-left: auto; /* Centers it horizontally */
  margin-right: auto;
  text-align: left; /* Left-align form contents */
}

input {
  height: 30px;
  border-radius: 8px;
}

#join_button {
  cursor: pointer;
  background-color: #fee6e3;
}

#other_buttons {
  width: 650px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 10%;
}

#searching_div {
  position: fixed;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  display: flex;
  flex-direction: column-reverse;
  place-items: center;
}

#searching_div_buttons {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

#searching_div p {
  font-size: 24px; /* Adjust the size as needed */
  font-weight: bold; /* Optional: make the text bold */
}

#tutorial {
  display: flex;
  place-content: center;
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 30px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  /* height: 48px; */
  height: 30px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.blur {
  filter: blur(5px);
  pointer-events: none; /* Prevents interaction with blurred elements */
}
