body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../image/room_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#insufficient_players {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 37px;
}

#insufficient_players h4 {
  margin: 0;
}

#copy_room_id_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
}

#copy_room_id_div button,
#choosing_values button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#copy_room_id_div img {
  height: 18px;
}

#copy_room_id {
  margin-right: 5px;
  width: 75px;
}

#copy_room_id_btn {
  cursor: pointer;
}

#choosing_values {
  /* background-image: url("../image/bat_and_ball_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */ /* uncomment this after finding good bgimage*/

  background-color: white;
  border: 1px solid black;
  display: none;
  width: 80vw;
  height: 80vh;
}

#main_part {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* #choosing_values {
  display: none;
  width: 80vw;
  height: 80vh;
   flex-wrap: wrap;
  place-content: center; 
} */

/* #choosing_values img,
#bat_or_ball_button img {
  width: 15%;
} */

#heads_or_tails_button,
#bat_or_ball_button {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

#choosing_values p {
  text-align: center;
  margin: 20px auto;
  font-size: large;
  font-weight: bold;
}

/* class */
.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.blur {
  filter: blur(5px);
}
